<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')">
    Menu <br/>
    <mat-list>
      <mat-list-item><a [routerLink]="['/clipboard']">Clipboard</a></mat-list-item><br>
      <mat-divider></mat-divider>
      <mat-list-item><a [routerLink]="['/homepage']">Homepage</a></mat-list-item><br>
      <mat-divider></mat-divider>
      <mat-list-item><a [routerLink]="['/home']">Back to home</a></mat-list-item><br>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p>
    <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p>
  </mat-sidenav-content>
</mat-sidenav-container>
